$bg: #ededed;
$red: #ff6c6c;

%button {
    background: #62a982;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 15px;
    font-weight: 600;
}
